@using Microsoft.AspNetCore.Http.Extensions
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SAGEB</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css"/>
    <link rel="stylesheet" href="~/css/administrator.css"/>
</head>
<body>
<div>

    <header class="menuBar">
        <ul class="container">
            <div>
                @if (!Url.ActionContext.HttpContext.Request.GetDisplayUrl().EndsWith("Administrator"))
                {
                    <a asp-controller="Administrator" asp-action="Index" style="cursor: pointer">
                        <span class="menuItem" style="display: flex; gap:  1rem; font-size: 1.2rem; outline: solid 1px black; cursor: pointer ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <title>arrow_back</title>
                                <g fill="none">
                                    <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" fill="#212121"></path>
                                </g>
                            </svg>
                            Voltar
                        </span>
                    </a>
                }
               <a asp-controller="Home" asp-action="Index" style="cursor: pointer">
                               <span class="menuItem" style="text-transform: uppercase; font-size: 2rem; font-weight: bold;">Sageb</span>
                           </a>
                <a asp-controller="Book" asp-action="Index">
                    <li class="menuItem button">Gerir Livros</li>
                </a>
                <a asp-controller="BookOrder" asp-action="Index">
                    <li class="menuItem button">Gerir Encomendas</li>
                </a>
                <a href="">
                    <li class="menuItem button">Gerir Estudantes</li>
                </a>
            </div>
            <a asp-controller="Administrator" asp-action="GoToDefaultArea">
                <li class="menuItem button" id="goToAdminPage">Ir para área Normal</li>
            </a>

        </ul>
    </header>

    <main class="pageContent container">
        @RenderBody()
    </main>

</div>
</body>
</html>