@{
    Layout = "_LayoutBase";
    ViewData["Title"] = "Início";
}
@using sageb.Database.Entities
@model sageb.Controllers.Home.IndexModel

<h1 class="pageTitle">Livros</h1>
<div class="publications">
    @foreach (Book book in Model.Books)
    {
        <a class="publication" asp-controller="Home" asp-action="ViewBook" asp-route-bookId="@book.Id">
            <img src="https://picsum.photos/300/200" alt="Tema">
            <div class="publicationFooter">
                <h1 class="publicationTitle">@book.Title</h1>
                <p class="publicationAuthors">@book.Author</p>
                
                <small class="publicationPublishDate">Publicado em @book.PublishDate!.Value.ToString("dd/MM/yyyy")</small>
            </div>
        </a>
    }
</div>