@{
    Layout = "_LayoutStudent";

}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Livros Emprestados</h1>

    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Data do emprestimo</th>
                <th scope="col">Data Da Entrega</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-warning mx-2" asp-route-id="" asp-controller="" asp-action="">Solicitar Entrega</a>
                        </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>

              
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>

</div>