@{
    Layout = "_LayoutAdministrator";
    ViewData["Title"] = "Administração";
}
@model sageb.Controllers.Administrator.IndexModel
<div class="container">
    <div>
        <h1 class="pageTitle">Área de Administração</h1>
    </div>

    <div class="Statistics">

        <a class="StatisticItem">
            <h2 class="StatisticItemTitle">Livros</h2>
            <span class="StatisticItemSeparator">-</span>
            <span class="StatisticItemValue">@Model.BooksCount</span>
        </a>

        <a class="StatisticItem">
            <h2 class="StatisticItemTitle">Encomendas</h2>
            <span class="StatisticItemSeparator">-</span>
            <span class="StatisticItemValue">2056</span>
        </a>

        <a class="StatisticItem">
            <h2 class="StatisticItemTitle">Estudantes</h2>
            <span class="StatisticItemSeparator">-</span>
            <span class="StatisticItemValue">2056</span>
        </a>

    </div>

</div>