@{
    Layout = "_LayoutAdministrator";
}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Lista dos Alunos</h1>
       
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Codigo Do Aluno</th>
                <th scope="col">Data De Nascimento</th>
                <th scope="col">Morada</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>mdo</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-danger mx-2" asp-route-id="" asp-controller="Administrator" asp-action="RemoverAluno">Remover</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>


            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>

</div>