@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <link href="~/css/login.css" rel="stylesheet" />
   

</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary bg-dark">

    <h1>Você não tem permissão para </h1>

</body>
</html>
