@{
    Layout = "_Layout";
    ViewData["Title"] = "Autenticação | SAGEB";
}

@model sageb.Controllers.AccessControl.LoginModel

<main style="display: flex; justify-content: center; align-items: center">
    <form asp-controller="AccessControl" asp-action="ProcessLogin" method="post" style="display: flex; flex-direction: column; gap: .5rem">

        <h1 style="text-align: center">SAGEB</h1>
        <div>
            <h2 style="text-align: center">Bem vindo!</h2>
            <p style="text-align: center">Autentique-se para utilizar o sistema!</p>
        </div>
        <div style="display: flex; flex-direction: column">
            <label for="email">E-mail</label>
            <input type="email" asp-for="Email" value="admin@ustm.com" id="email" placeholder="your-email@gmail.com" style="font-size: 1.2rem; height: 45px"/>
            <span asp-validation-for="Email"></span>
        </div>
        <div style="display: flex; flex-direction: column">
            <label for="password">Password</label>
            <input type="password" asp-for="Password" value="admin.sageb" id="password" placeholder="password" style="font-size: 1.2rem; height: 45px"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <input type="checkbox" asp-for=RememberMe/>
            <label>Remenber me</label>
            <span asp-validation-for="RememberMe"></span>
        </div>
        <button type="submit" class="buttonDark" >Sigin in</button>
    </form>

</main>